{% extends "base.html" %}
	{% block content%}
		<body>
			<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='StyleHome.css')}}">
			<div class='content'>
				<p>Welcome, {{usr}}</p>
				<div class='account'>
					<h2>Checking account</h2>
					<div class = 'bal' >
						<p class='details' >{{sortcode}} &nbsp;&nbsp;&nbsp;&nbsp; {{accno}}</p>
						<p style='font-size: 25px; '>Balance:</p>
						<p class='balance'>£{{balance}}</p>
					</div>
					<a class='transferBtn' href="moveMoney">Move Money</a>
				</div>
			</div>
		</body>
	{% endblock %}